.main{
      display: flex;
      width: 100%;
      height: 90vh;
      position: fixed;
      bottom: 0;
}

@media (max-width: 768px) {
  .main {
    position: relative;
    height: auto;
    min-height: calc(100vh - 70px);
    padding-top: 75px;
    padding-bottom: 30px;
    bottom: auto;
    display: block;
  }
}